@font-face {
    font-family: Brush Script MT;
    src: local(Brush Script MT), url(/assets/fonts/Brush/brush.ttf) format("truetype");
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap') format('truetype');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') format('truetype');
}