.preloader{
    width: 100vw;
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.preloader svg{
    width: 100%;
    height: 30%;
}
.preloader svg text{
    font-size: 200px;
    font-family: Brush Script MT;
}